.passwordRecoveryPage__title {
  padding: 30px 0px 50px 0px;
}

.passwordRecoveryPage {
  padding: 30px 0px 196px 0px;
  .container {
    .passwordRecoveryPage_block {
      background: $colorLight;
      box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.05);
      border-radius: 5px;
      display: flex;
      justify-content: center;
      padding: 30px 0px 50px 0px;
      width: 100%;
      .passwordRecoveryPage_block__form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        max-width: 540px;
        width: 100%;
        h3 {
          font-style: normal;
          font-weight: 500;
          font-size: 20px;
          line-height: 24px;
          text-align: center;
          color: $colorDark;
          margin-bottom: 10px;
        }
        .fields {
          width: 100%;
          display: grid;
          grid-template-columns: repeat(auto-fill, 1fr);
          grid-column-gap: 15px;
          grid-row-gap: 15px;
        }
        .field {
          width: 100%;
        }
        .passwordRecoveryPage_form__sendNewPassword {
          display: flex;
          justify-content: center;
          margin-top: 50px;
          width: 100%;
        }
      }
    }
  }
}

@media (max-width: 1169px) {
  .passwordRecoveryPage__title {
    padding: 30px 0px 30px 0px;
  }

  .passwordRecoveryAdvantages {
    display: none;
  }

  .passwordRecoveryPage {
    padding: 0px 0px 80px 0px;
    .container {
      .passwordRecoveryPage_block {
        box-shadow: none;
        padding: 0px;
        .passwordRecoveryPage_block__form {
          h3 {
            font-size: 12px;
            line-height: 15px;
          }
        }
      }
    }
  }
}
